footer {
    background: url('/imgs/backgrounds/bgReview.svg') no-repeat;
    background-size: cover;    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
    color: var(--color-primary);  
    display: flex;
    padding: 20px;        
}
.logo__sintaxe {
    display: flex;
    color: var(--color-text-secondary);   
    &:hover {
        color: var(--color-text-btn);
    }
    align-self: center;     
    img {
        width: 20px;
    }
}