header {
    background: url('/imgs/backgrounds/bgHero.svg') no-repeat center;
    background-size: cover;             
    padding-top: 6.25rem;
    margin-bottom: 6.5625rem;   
    border-bottom-left-radius: .9375rem;  
    border-bottom-right-radius: .9375rem;      
}
.name {        
    margin-block: .625rem;    
    h1 {
        font: var(--heading);
        span:nth-child(1) {
            font: var(--heading-sm);         
        }
    }
    & > span {
        font: var(--heading-sm);                 
    }
}
.container__nav {    
    margin: 0 auto;
    padding: 0 4.5rem;
}
nav {         
    display: flex;    
    justify-content: space-between;
    background: linear-gradient(90deg, #E7C6F4 0%, #FFD4D0 100%);
    box-shadow: 0px .3125rem .725rem 0px #ECBEEB;  
    padding: .5rem .625rem;
    border-radius: 3.125rem;    
    position: fixed;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: calc(100% - 9rem);
    max-width: 75rem;
    ul {
        display: flex;        
        a {
            padding: .3125rem .625rem;
            border-radius: .5rem;
            &:hover {
                background-color: var(--color-primary);                
            }            
            &.active {
                background-color: var(--color-primary);                
                transition: background 0.2s;
            }
        }
    }    
    & > a {
        transition: color .5s ease-in-out, background .5s ease-in-out;    
        &:hover {
            color: var(--color-btn2);
            background: var(--color-btn2);
        }
    }
}
.logo {
    img {
        width: 3.3093125rem;
        height: 3.1875rem;
    }
}
.infos {        
    width: 37.5rem;     
    text-align: center;
    margin: 1.4375rem auto 0;
    display: flex;        
    position: relative;        
    img[src*='svg'] {
        animation: up 6s ease-in-out infinite;       
    }
    img[src*='enxaguante'] {
        width: 7.267875rem;
        height: 7.267875rem;     
        position: absolute;                
        top: -.625rem;
        left: -4.0625rem;           
    }    
    img[src*='dente'] {
        width: 7.0625rem;       
        position: absolute; 
        top: 12.5rem;
        right: .625rem;                      
    }
    img[src*='medicamento'] {
        width: 5.11725rem;
        height: 5.11725rem;
        position: absolute;        
        bottom: 6.875rem;
        left: -2.5rem;        
    }
    p {
        font: var(--text);
        margin-block: .625rem .9375rem;
    }
}
.dra {
    position: relative;   
    img {
        position: relative;
        bottom: -.1875rem;        
    }
    figcaption {
        position: absolute;
        bottom: 8.125rem;
        right: 1.875rem;
        & a {
            transition: color .5s ease-in-out, background .5s ease-in-out;
            &:hover {
                background: var(--color-btn1);
                color: var(--color-primary);  
            }
        }
    }
    
}
@keyframes up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(.625rem);
    }
    100% {
        transform: translateY(0);
    }
}