@import url('reset.css');
:root {
    --color-primary: #ffffff;
    --color-secondary: #0D0C10;
    --color-tag: #FFE785;
    --color-tag-about: #F4F3F8;    
    --color-text-secondary: #878493;
    --color-text-btn: #8145FF;
    --color-line-stroke: #E8E6F0;
    --color-line-stroke-review: #17161D;
    --color-line-stroke-btn: #D196FF;    
    --color-btn1: linear-gradient(190deg, #D196FF -5.76%, #8145FF 88.47%);
    --color-btn2: linear-gradient(109deg, rgba(255, 255, 255, 0.54) 30.45%, rgba(255, 255, 255, 0.00) 82.99%);
    
    --font-primary: 'Bricolage Grotesque';
    --font-secondary: 'Inter';
    --font-btn: 'Quicksand';

    --heading: 600 3.5rem var(--font-primary); /*56*/    
    --heading-sm: 600 1.25rem var(--font-primary); /*20*/
    --subtitle: 600 3rem var(--font-primary); /*48*/
    --text: 400 1rem var(--font-secondary); /*16*/
    --text-sm: 400 .875rem var(--font-secondary); /*14*/
    --text-xl: 600 1.75rem var(--font-primary);
    --tag: 500 .75rem var(--font-secondary); /*12*/
    --btn: 800 1rem var(--font-btn); /*16*/
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6.875rem;
}
body {
    background: var(--color-primary);
    font-family: var(--font-secondary);
    color: var(--color-secondary);
    cursor: url('/imgs/icons/mouse.svg')8 4, auto;     
    h2 {
        font: var(--subtitle);        
    }
    h3 {
        font: var(--text-xl);
    }
    a {
        text-decoration: none;       
        color: var(--color-secondary);
    }    
}
section + section {
    margin-block: 6.5625rem;    
}
.blur {
    display: inline-block;
    width: 90%;
    height: 70%;    
    position: absolute;
    left: 5%;
    top: 10%;
    border-radius: 30%;
    z-index: -2;
    transform: rotate(-2deg);
    filter: blur(100px);
    background: linear-gradient(90deg, #E7C6F4 10%, #FFD4D0 100%);
}
#whatsapp .wttp {
    position: fixed;
    background: #25d366;
    display: flex;    
    border-radius: 50%;
    color: var(--color-primary);
    z-index: 9999;
    font-size: 1.68rem;
    bottom: 1.37rem;
    right: 1.5rem;
    width: 3.12rem;
    height: 3.12rem;    
}
.wttp::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    height: inherit;
    background-color: rgba(37, 211, 102, 0.6); /* início com 60% de opacidade */
    border-radius: inherit;
    animation: pulse-border 1.5s ease-in-out infinite;
}
@keyframes pulse-border {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.6;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}
